# Data files
online_retail_II.xlsx

# Python cache
__pycache__/
*.pyc
*.pyo

online_retail_2_classification.ipynb
online-retail-customer-segmentation-rfm-analysis.ipynb
# Environment
.env
venv/
.venv/
